@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, html, #root {
    height: 100%;
    background-color: #f9fafb;
    font-family: "Poppins", sans-serif;
  }

/* logo */
  .login-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;
  }

  .login-logo img {
    height: 40px; /* tùy chỉnh kích thước logo */
    width: auto;
  }

  .logo-text {
  font-family: "Krona One", sans-serif;
  font-size: 30px;
  font-weight: 2000;
  color: #05386D;
  margin-top: 5px;
}

  /* Container tổng */
  .login-container {
    display: flex;
    height: 100vh;
    width: 100vw;
  }

  /* Bên trái */
  .login-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f9ff;
  }

  .login-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Bên phải */
  .login-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    padding-left: 80px;
  }


.welcome-signin h3,
.welcome-signin p {
  text-align: left; /* căn trái chữ */
}

  /* Card chính */
  .login-box {
    width: 380px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 2rem;
    text-align: center;
    max-width: 400px;
    font-family: "Roboto", sans-serif;

  }

  /* Google button */
  .google-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: white;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
  }

  .google-btn:hover {
    background: #f0f0f0;
  }

  .google-btn img {
    width: 20px;
  }

  .divider {
    margin: 15px 0;
    font-weight: bold;
    color: #999;
  }

  /* Form */
  form {
    text-align: left;
  }

  label {
    display: block;
    font-size: 14px;
    color: #959595;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s;
  }

  input:focus {
    border-color: rgb(17, 93, 173);
  }

  /* Nhớ mật khẩu + forgot */
  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-top: 10px;
  }

  .options a {
    color: #e63946;
    text-decoration: none;
  }

  /* Nút sign in */
  .signin-btn {
    width: 100%;
    background-color: #05386D;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
  }

  .signin-btn:hover {
    background-color: #2869c4;
  }

  .create-account {
    font-size: 13px;
    margin-top: 15px;
  }

  .create-account a {
    color: #115dc1;
    text-decoration: none;
  }


